* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dark {
  --background: hsl(235, 21%, 11%);
  --taskbody: #25273c;
  --background-image: url(./images/bg-desktop-dark.jpg);
  --border-bottom: hsl(233, 14%, 35%);
  --text-color: hsl(234, 39%, 85%);
  --check-border: hsl(233, 14%, 35%);
  --footer-color: hsl(233, 14%, 35%);
  --hover-color: hsl(236, 33%, 92%);
  --drag-background-color: #1c1d2e;
}

.light {
  --background: hsl(236, 33%, 92%);
  --taskbody: hsl(0, 0%, 98%);
  --background-image: url(./images/bg-desktop-light.jpg);
  --border-bottom: hsl(234, 39%, 85%);
  --text-color: hsl(233, 14%, 35%);
  --check-border: hsl(234, 39%, 85%);
  --footer-color: hsl(233, 25%, 79%);
  --hover-color: hsl(233, 14%, 35%);
  --drag-background-color: #d2d3df;
}

.main {
  background-color: var(--background);
  height: 100vh;
  position: relative;
  /* padding: 1rem; */
}

.img-div {
  height: 38vh;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: -150px auto;
  padding: 0.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}

.toggle {
  cursor: pointer;
}

.input-field {
  display: flex;
  border: none;
  background-color: var(--taskbody);
  height: 3rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.267);
}

#input-addon {
  margin: 1rem;
  border: 1px solid var(--check-border);
  border-radius: 50%;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

#input-task {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 0.85rem;
  font-family: cursive;
  letter-spacing: 00.04rem;
  color: var(--text-color);
  outline: none;
}

.task-body {
  margin-top: 1rem;
  background-color: var(--taskbody);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.56);
  border-radius: 6px;
  border: none;
}

.task-list {
  max-height: 18rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: normal;
}

.task-list::-webkit-scrollbar {
  width: 8px;
  padding: 0.2rem;
}

.task-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: #656466;
  height: 2rem;
  border-radius: 35px;
  box-shadow: 0px 0px 1.5px 1px rgba(0, 0, 0, 0.56);
}

.list-item {
  display: flex;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom);
  cursor: move;
}

.list-item:hover .close-icon {
  display: block;
}

#checkbox:hover {
  border-color: hsl(234, 39%, 85%);
}

.task-text {
  font-size: 1rem;
  border: none;
  font-size: 0.85rem;
  font-family: cursive;
  color: var(--text-color);
  letter-spacing: 00.06rem;
  word-wrap: break-word;
  width: 80%;
}

.close-icon {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  width: 0.8rem;
  height: 0.8rem;
  display: none;
}

.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 1px solid var(--check-border);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkbox {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #57ddff 10%, #c058f3 90%);
  border: 0.5px solid transparent;
  border-radius: 50%;
}

.checkbox-div:hover {
  border-color: hsl(234, 39%, 85%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  font-size: 0.8rem;
  font-weight: 550;
  padding: 0px 0.6rem;
  color: var(--footer-color);
  font-family: Arial, Helvetica, sans-serif;
}

.items-left {
  color: #767577;
}

.breadcrumb {
  display: flex;
}

.all {
  color: hsl(220, 98%, 61%) !important;
}

.breadcrumb * {
  margin: 0px 0.25rem;

  cursor: pointer;
}

.breadcrumb *:hover {
  color: var(--hover-color);
}

.clear-items {
  cursor: pointer;
}
.clear-items:hover {
  color: var(--hover-color);
}

.figure {
  margin-right: 0.6rem;
}

.over {
  background-color: var(--drag-background-color);
}
