* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  background-color: hsl(235, 21%, 11%);
  height: 100vh;
  position: relative;
  /* padding: 2rem; */
  /* display: flex; */
  /* justify-content: center; */
}

.img-div {
  height: 38vh;
  background-image: url(./images/bg-desktop-dark.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  /* border: 2px solid rgb(255, 253, 253); */
  max-width: 600px;
  width: 100%;
  /* position: absolute; */
  margin: -150px auto;
  /* padding: 0.8rem; */
  /* top: 90px; */
  /* margin: -100px auto; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border: 2px solid green; */
  margin-bottom: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}

.input-field {
  display: flex;
  border: none;
  /* background-color: hsl(233, 14%, 35%); */
  /* background-color: hsl(233, 14%, 26%); */
  /* background-color: hsl(234, 11%, 52%); */
  background-color: #25273c;
  /* height: 600px; */
  height: 3rem;
  border-radius: 6px;
  border: none;
}

#input-addon {
  margin: 1rem;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

#input-task {
  width: 100%;
  height: 100%;
  /* color: brown; */
  background-color: transparent;
  border: none;
  font-size: 0.85rem;
  font-family: cursive;
  letter-spacing: 00.04rem;
  /* color: hsl(234, 39%, 85%); */
  color: hsl(236, 33%, 92%);
  outline: none;
}

.task-body {
  border: 2px solid fuchsia;
  margin-top: 1rem;
  /* border: none; */
  /* background-color: hsl(233, 14%, 35%); */
  /* background-color: hsl(233, 14%, 26%); */
  /* background-color: hsl(234, 11%, 52%); */
  background-color: hsl(235, 24%, 19%);
  /* height: 600px; */
  /* height: 2.7rem; */
  border-radius: 6px;
  border: none;
}

.list-item {
  display: flex;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  cursor: move;
}

.list-item:hover .close-icon {
  display: block;
}

/* #checkbox {
  margin: 0px 1rem;
  border: 1px solid hsl(233, 14%, 35%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: url(./images/icon-check.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

#checkbox:hover {
  border-color: hsl(234, 39%, 85%);
}

.task-text {
  font-size: 1rem;
  border: none;
  font-size: 0.85rem;
  font-family: cursive;
  color: hsl(234, 39%, 85%);
  letter-spacing: 00.06rem;
  word-wrap: break-word;
  width: 80%;
}

.close-icon {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  width: 0.8rem;
  height: 0.8rem;
  display: none;
}

.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkbox {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #57ddff 10%, #c058f3 90%);
  border: 0.5px solid transparent;
  border-radius: 50%;
}

.checkbox-div:hover {
  border-color: hsl(234, 39%, 85%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  font-size: 0.8rem;
  font-weight: 550;
  padding: 0px 0.6rem;
  color: hsl(233, 14%, 35%);
  font-family: Arial, Helvetica, sans-serif;
}
.breadcrumb {
  display: flex;
}

.all {
  color: hsl(220, 98%, 61%) !important;
}

.breadcrumb * {
  margin: 0px 0.25rem;

  cursor: pointer;
}

.breadcrumb *:hover {
  color: hsl(236, 33%, 92%);
}

.clear-items {
  cursor: pointer;
}
.clear-items:hover {
  color: hsl(236, 33%, 92%);
}

.figure {
  margin-right: 0.6rem;
}

.over {
  background-color: #1c1d2e;
}
